<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RecipeApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>46EEE0A12D56E69900C22B47</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46EEE0B12D56E69C00C22B47</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46EEE0BB2D56E69D00C22B47</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
